@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-screen{
    @apply
    fixed z-50
    w-screen h-screen
    backdrop-blur bg-blue-900/50
    justify-center items-center
    p-10 space-y-2 sm:space-y-0 space-x-0 sm:space-x-2
}

.search-section{
    @apply
    flex flex-col items-center justify-center lg:flex-row
    h-[20rem]
    px-20 space-y-10 space-x-0 lg:space-x-10 lg:space-y-0
}

.edit-search{
    @apply
    w-full
    p-5
    focus:outline-0
    text-center
}

.search-color{
    @apply
    grid grid-cols-3 gap-2
}

.color-filter{
    @apply
    rounded-full
    h-[2rem] w-[2rem]
}

.cards-section{
    @apply
    flex flex-wrap items-center justify-center
    mr-9 sm:mr-0 sm:px-10 space-x-10 space-y-10
}

.logo-card{
    @apply
    flex flex-col rounded-xl
    w-[20rem] h-[20rem]
    bg-blue-800 shadow-md
    items-center justify-center
    mt-10 ml-10 space-y-4
    hover:ease-linear hover:scale-[1.01] hover:shadow-lg ease-in duration-75 cursor-pointer
}

.logo-icon{
    @apply
    font-black text-white text-3xl
}

.search-card{
    @apply
    flex flex-col rounded-xl
    w-[20rem] h-[20rem]
    bg-white shadow-md
    items-center justify-center
    mt-10 ml-10 space-y-4
    hover:ease-linear hover:scale-[1.01] hover:shadow-lg ease-in duration-75 cursor-pointer
}

.add-card{
    @apply
    flex flex-col rounded-xl
    w-[20rem] h-[20rem]
    bg-white shadow-md
    items-center justify-center
    mt-10 ml-10
    hover:ease-linear hover:scale-[1.01] hover:shadow-lg ease-in duration-75 cursor-pointer
}

.main-icon{
    @apply
    flex flex-col rounded-full
    w-24 h-24
    outline-dashed outline-2 outline-blue-500
    items-center justify-center text-3xl text-blue-500
}

.card{
    @apply
    flex flex-col
    w-[20rem] h-[20rem]
    justify-center items-start 
    rounded-xl
    p-10 space-y-5 shadow-md
    hover:ease-linear hover:scale-[1.01] hover:shadow-lg ease-in duration-75
    cursor-pointer
}

.heading{
    @apply
    h-10
    text-3xl line-clamp-1
}

.content{
    @apply
    text-lg line-clamp-4
}

.edit-text{
    @apply
    flex flex-col rounded-xl
    w-full sm:w-[30rem] h-96 sm:h-1/2
    justify-start items-start
    visited:shadow-md
    p-10 space-y-5
}

.edit-heading{
    @apply
    w-full
    bg-transparent
    focus:outline-0
    text-3xl
}

.edit-content{
    @apply 
    w-full h-[100%]
    bg-transparent
    focus:outline-0
    text-lg resize-none 
}

.color-options{
    @apply
    flex items-center
    space-x-1 sm:space-x-2
}

.color-selector{
    @apply
    rounded-full
    h-[1rem] w-[1rem]
}

.selected{
    @apply
    scale-90
    outline outline-offset-2 outline-2 outline-black
}

.edit-menu{
    @apply
    flex sm:flex-col rounded-xl
    w-full h-16 sm:w-16 sm:h-1/2
    justify-around items-center
    bg-white p-5 shadow-md
}

.icon{
    @apply
    w-4 cursor-pointer
}

.select-color{
    @apply
    w-4 h-4
    rounded-full 
    cursor-pointer
}